<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}

    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }

    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }

    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        /*padding: 15px;*/
      }
      .row.content {height:auto;}
    }


    ::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: darkgrey;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0,0,0,0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
/* Scroller */
.wrapper {
  list-style-type: none;
  }
.wrapper li {
  position: relative;
  display: inline-block;
  margin-left: 0;
  }
.wrapper .text-container{
  background: rgba(0,0,0,0.5);
  color: white;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 100;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
  }
  .wrapper span{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 25%;
    text-align: center;
  }
.wrapper li:hover .text-container,img:hover ~ .textcontainer {
opacity: 1;
  }
</style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-6 text-left" style="background-color: black;">
      <iframe id='videoFrame' width="650" height="337" src={{video_link}} frameborder="0" allowfullscreen></iframe>
    </div>
   <div id="vidList" class="col-sm-3 sidenav" style="background-color: black; padding-top: 0px;padding-left: 0px;padding-right:0px;overflow-y: scroll; overflow-x: hidden;">
    <ul class="wrapper">
     {% for item in suggested %}
        <li>
          <img src="http://img.youtube.com/vi/{{item}}/mqdefault.jpg">
          <div class="text-container"><span>Test</span></div>
        </li>
     {% endfor %}
    </ul>
   </div>

       <!--  <div style="position: relative;background-color:purple">
         {% for item in suggested %}
            <div  style="width:100%;background-color: pink;position: relative;">
              <div  style="width:100%;background-color: cyan;position: absolute;">
                <img src="https://img.youtube.com/vi/{{item}}/mqdefault.jpg" style="width: 100%;">
              </div>
            <div id="title" style="background-color: blue;position: absolute;width: 100%;height: 100%;">title</div>
            </div>
         {% endfor %}
        </div> -->
    <div class="col-sm-3 sidenav" style="background-color: black;">
      <div class="well">
        <p>..</p>
      </div>
      <div class="well">
        <p>...</p>
      </div>
    </div>
  </div>
</div>

<footer class="container-fluid text-center">
  <p>Footer Text</p>
</footer>
</body>
<script>
$(document).ready(function(){



 function getresult() {
        $.ajax({
                url: "http://www.localhost:8002/api/v1/moreVids",
                type: "GET",
                // data:  {rowcount:$("#rowcount").val()},
                // beforeSend: function(){
                // $('#loader-icon').show();
                // },
                // complete: function(){
                // $('#loader-icon').hide();
                // },
                success: function(data){
                    // $("#faq-result").append(data);
                    alert(data);
                    console.log('jhvu');
                },
                error: function(){}
                });
 }

 $('#vidList').on('scroll', function() {
        if($(this).scrollTop() + $(this).innerHeight() >= $(this)[0].scrollHeight) {
           //alert('end reached');
           getresult();
        }
    })

});
</script>
</html>
